@import "../../scss/variables";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.container-fight {
  @include flex-column;

  gap: 16px;
  width: 100%;
  padding: 8px;
  background: var(--black-200);
  border-radius: 24px;
  opacity: 0;
  animation: card-visible 0.7s forwards;
  animation-delay: 0.4s;

  @media screen and (min-width: $screen-tl) {
    gap: 48px;
    padding: 8px 8px 48px;
  }

  &__inner {
    @include flex-column;

    gap: 16px;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $screen-tl) {
      flex-direction: row;
      gap: 0 40px;
      align-items: center;
    }

    @media screen and (min-width: $screen-d) {
      gap: 0 100px;
    }
  }

  &__hero {
    @include flex-column;

    gap: 16px;
    width: 100%;
  }

  &__hero-empty {
    @include flex-center;
    @include tab;

    width: 100%;
    height: 248px;
    margin: 0;
    padding: 0 45px;
    color: var(--grey-200);
    text-align: center;
    border: 2px dashed var(--grey-300);
    border-radius: 16px;
    box-shadow: var(--shadow-button);

    @media screen and (min-width: $screen-tl) {
      padding: 0;
    }

    &--disabled {
      display: none;
    }
  }

  &__card-fight {
    &--disabled {
      display: none;
    }
  }

  &__text {
    height: 100%;
    margin: 0;
    color: var(--white);
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
  }

  &__button {
    width: 320px;
    margin: 8px auto 0;
    padding: 15px 16px 16px;

    @media screen and (min-width: $screen-tl) {
      margin: 0 auto;
    }
  }

  &__result {
    @include card-title;

    margin: 0;
    padding: 16px;
    text-align: center;
    border: 2px dashed var(--grey-300);
    border-radius: 16px;
    box-shadow: var(--shadow-button);

    @media screen and (min-width: $screen-tl) {
      padding: 26px 16px;
    }

    &--disabled {
      display: none;
    }

    &--red {
      color: var(--color-red);
    }

    &--yellow {
      color: var(--color-yellow);
    }
  }
  $block-name: &; // #{$block-name}__element

  @keyframes card-visible {
    100% { opacity: 1; }
  }
}
