@import "../../scss/variables";
@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.card-fight {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 7px 8px 8px;
  background: var(--grey-300);
  border-top: 1px solid var(--grey-200);
  border-radius: 16px;
  box-shadow: var(--shadow-button);

  @media screen and (min-width: $screen-t) {
    flex-direction: row;
  }

  &--winner {
    background: var(--monochrome-500, #363a3d);
    border-top: 1px solid var(--monochrome-400, #686b6e);
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);
  }

  &__left {
    @include flex-column;

    position: relative;
    flex-shrink: 0;
    gap: 8px;
    width: 100%;

    @media screen and (min-width: $screen-t) {
      width: 152px;
    }
  }

  &__number {
    position: absolute;
    top: 12px;
    left: 12px;
    color: var(--white);
    font-size: 12px;
    line-height: 120%;
  }

  &__container-photo {
    @include flex-center;

    width: 100%;
    padding: 16px 8px;
    background: var(--black-100);
    border-radius: 8px;

    @media screen and (min-width: $screen-tl) {
      padding: 16px;
    }

    #{$block-name}--winner & {
      background: var(--black);
    }
  }

  &__photo {
    width: 120px;
    height: 120px;
  }

  &__name {
    margin: 0;
    overflow: hidden;
    color: var(--white);
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.32px;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }

  &__type {
    @include flex-center;

    gap: 8px;
    margin: 4px 0;
  }

  &__container-info {
    @include flex-column;

    gap: 8px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__type-icon {
    width: 16px;
    height: 16px;
  }

  &__right {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
  }

  &__statistics-info {
    @include flex-center;

    flex-wrap: nowrap;
    grid-column: 1/span;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid var(--grey-200);
    border-radius: 8px;
    transition: border 0.3s ease-out;

    &--one-cell {
      grid-column: 1/span 2;
    }

    #{$block-name}--winner & {
      border: 1px solid var(--grey);
    }
  }

  &__weakness-icons {
    @include flex-center;

    gap: 8px;
    width: 100%;
  }

  &__statistics-number {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;

    @media screen and (min-width: $screen-tl) {
      padding: 0;
    }
  }

  &__container-icon {
    @include flex-center;

    padding: 7px 12px;
    border-right: 1px solid var(--grey-200);
    transition: border 0.3s ease-out;

    @media screen and (min-width: $screen-ti) {
      display: block;
      width: fit-content;
      border-bottom: 0;
    }

    #{$block-name}--winner & {
      border-right: 1px solid var(--grey);
    }
  }
}
