@import "../../scss/variables";

.button {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  &:hover {
    background: var(--grey);
    border-top: 1px solid var(--white-300);
    box-shadow: var(--shadow-button);
    cursor: pointer;
  }

  &--default {
    background: var(--black-100);
    border-top: 1px solid var(--grey-200);
  }

  &--default-paginator {
    background: var(--grey-300);
    border-top: 1px solid var(--grey-200);
  }

  &--active {
    background: var(--grey-200);
    border-top: 1px solid var(--grey);
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__number {

    #{$block-name}:hover & {
      color: var(--white);
      border: 1px solid var(--white);
    }
  }
  $block-name: &; // #{$block-name}__element
}
