@import "../../scss/breakpoints";

.page {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  padding: 12px 0 32px;

  @media screen and (min-width: $screen-tl) {
    padding: 40px 0 30px;
  }

  @media screen and (min-width: $screen-d) {
    padding: 80px 0 72px;
  }

  &__loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-burger-button);
    width: 100%;
    height: 0;
    background: var(--black-100);

    &--active {
      height: 100vh;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-overlay);
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}
