@import "../../scss/breakpoints";

.page {
  $block-name: &; // #{$block-name}__element

  padding: 12px 0 32px;

  @media screen and (min-width: $screen-d) {
    padding: 80px 0 72px;
  }

  &__tabs {
    margin-bottom: 12px;

    @media screen and (min-width: $screen-d) {
      margin-bottom: 32px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 8px;
    width: 100%;
    margin: 16px 0 32px;

    @media screen and (min-width: $screen-d) {
      margin: 32px 0 48px;
    }
  }

  &__paginator {
    margin-top: 16px;

    @media screen and (min-width: $screen-d) {
      margin-top: 48px;
    }
  }
}
