@import "../../scss/breakpoints";

.page {
  $block-name: &; // #{$block-name}__element

  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0 32px;

  @media screen and (min-width: $screen-tl) {
    gap: 25px;
    padding: 40px 0 30px;
  }

  @media screen and (min-width: $screen-d) {
    gap: 40px;
    padding: 80px 0 72px;
  }

  &__tabs {
    position: sticky;
    top: 0;
    z-index: var(--z-index-tabs);

    @media screen and (min-width: $screen-tl) {
      position: static;
    }
  }
}
