@import "../../scss/variables";

.overlay {
  $block-name: &; // #{$block-name}__element

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background: var(--overlay-blue);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(4px);
  transition: 0.3s all;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}
