@import "../../scss/variables";

.overlay {
  $block-name: &; // #{$block-name}__element

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-overlay);
  width: 100%;
  height: 100%;
  background: var(--black-blur);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(4px);
  transition: opacity 0.3s ease-out;

  &--active {
    visibility: visible;
    opacity: 1;
  }
}
