//- Все примеси в этом файле должны начинаться c имени блока (paginator)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin paginator(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +paginator('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pagination--' + modsList[i].trim();
      }
    }

  section.pagination.pagination__skeleton.skeleton(class=allMods)&attributes(attributes)
    button.pagination__button.pagination__button--first first
    .pagination__text ...
    button.pagination__button.pagination__button--active 1
    button.pagination__button 2
    button.pagination__button 3
    button.pagination__button 4
    button.pagination__button 5
    .pagination__text ...
    button.pagination__button.pagination__button--last last
