@import "fluid";
@import "../../scss/breakpoints";

@mixin tab {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

@mixin filter-title {
  font-size: 14px;
  line-height: 115%;
  letter-spacing: 0.03em;
}

@mixin filter-amount {
  font-size: 10px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

@mixin card-title {
  font-size: fluid(16, 32, 360, 992);
  line-height: fluid(20, 40, 360, 992);
  letter-spacing: fluid(0.32, 0.64, 360, 992);

  @media screen and (min-width: $screen-tl) {
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.02em;
  }
}

@mixin card-data {
  font-size: fluid(8, 16, 360, 992);
  line-height: fluid(8, 16, 360, 992);
  letter-spacing: fluid(0.4, 0.8, 360, 992);

  @media screen and (min-width: $screen-tl) {
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.05em;
  }
}

@mixin card-num {
  font-size: fluid(8, 12, 360, 992);
  line-height: fluid(8, 14, 360, 992);

  @media screen and (min-width: $screen-tl) {
    font-size: 12px;
    line-height: 120%;
  }
}

@mixin pagination {
  font-size: fluid(12, 16, 360, 1280);
  line-height: fluid(16, 24, 360, 1280);

  @media screen and (min-width: $screen-d) {
    font-size: 16px;
    line-height: 150%;
  }
}
