//- Все примеси в этом файле должны начинаться c имени блока (search-panel)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin search-panel(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +search-panel('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' search-panel--' + modsList[i].trim();
      }
    }

    let searchItems = [
      {
        number: '001',
        name: 'Bulbasaur',
        photo: 'img/container-cards__photo-01.png'
      },
      {
        number: '002',
        name: 'Ivysaur',
        photo: 'img/container-cards__photo-02.png'
      },
      {
        number: '003',
        name: 'Venusaur',
        photo: 'img/container-cards__photo-03.png'
      }
    ]

  .search-panel(class=allMods)&attributes(attributes)
    .search-panel__search
      input.search-panel__input(placeholder='Choose fighter')
    .search-panel__result
      each item in searchItems
        .search-panel__item
          img.search-panel__photo(src= item.photo, alt='')
          p.search-panel__text.
            #[span= item.number] — #[span= item.name]
