@import "../../scss/variables";
@import "../../scss/mixins/flexbox";

.loader {
  $block-name: &; // #{$block-name}__element

  @include flex-center;

  border: 2px dashed var(--grey-300);
  border-radius: 16px;
  box-shadow: var(--shadow-button);
  opacity: 0;

  &--active {
    height: 100%;
    opacity: 1;
    transition: none;
  }

  &--active-search {
    @include flex-center;

    height: 56px;
    background: var(--black-100);
  }

  &__inner {
    @include flex-center;

    position: relative;
    gap: 2px;
  }

  &__item {
    position: absolute;
    display: block;
    float: left;
    width: 25px;

    &:nth-of-type(1) {
      left: -15px;
      animation: bouncy1 0.8s infinite;
    }

    &:nth-of-type(2) {
      left: 0;
      animation: bouncy2 0.8s infinite;
    }

    &:nth-of-type(3) {
      left: 15px;
      animation: bouncy3 0.8s infinite;
    }
  }

  &__dot {
    width: 8px;
    height: 8px;
    background: var(--white);
    border-radius: 50%;
  }

  @keyframes bouncy1 {
    0% { transform: translate(0, 0) rotate(0deg); }
    100% { transform: translate(15px, 0) rotate(180deg); }
  }

  @keyframes bouncy2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-15px); }
  }

  @keyframes bouncy3 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-15px); }
  }
}
