@import "../../scss/variables";
@import "../../scss/breakpoints";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/skeleton";

.card {
  $block-name: &; // #{$block-name}__element

  @include flex-column;

  position: relative;
  gap: 8px;
  width: 100%;
  padding: 8px;
  background-color: var(--grey-300);
  border-top: 1px solid var(--grey-200);
  border-radius: 16px;
  box-shadow: var(--shadow-button);
  transition: background-color 0.3s ease-out;

  @media screen and (min-width: $screen-tl) {
    gap: 16px;
    padding: 7px 8px 16px;
  }

  &:hover {
    background: var(--grey-200);
    border-top: 1px solid var(--grey);
    border-radius: 16px;
    box-shadow:
      0 4px 16 0 rgba(0 0 0 / 10%),
      0 8px 10px -6px rgba(0 0 0 / 5%),
      0 20px 25px -5px rgba(0 0 0 / 5%);
    cursor: pointer;
  }

  &--animate {
    opacity: 0;
    animation: card-visible 0.5s forwards;
    animation-delay: 0.4s;
  }

  &__skeleton {
    &--active {
      pointer-events: none;

      #{$block-name}__container-photo,  #{$block-name}__info, #{$block-name}__statistics-info {
        position: relative;

        &::before {
          @include background-gradient(var(--grey-200), var(--skeleton-color));

          position: absolute;
          top: -1px;
          left: 0;
          width: 100%;
          height: calc(100% + 1px);
          border-radius: 8px;
          animation: skeleton 2s infinite linear;
          content: "";
        }
      }
    }
  }

  &__number {
    @include card-num;

    position: absolute;
    top: 16px;
    left: 16px;
    color: var(--white);

    @media screen and (min-width: $screen-tl) {
      top: 20px;
      left: 20px;
    }
  }

  &__container-photo {
    @include flex-center;

    padding: 16px 8px;
    background: var(--black-100);
    border-radius: 8px;
    transition: background-color 0.3s ease-out;

    @media screen and (min-width: $screen-tl) {
      padding: 40px;
    }

    #{$block-name}:hover & {
      background: var(--black);
    }
  }

  &__photo {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    aspect-ratio: 1 / 1;

    @media screen and (min-width: $screen-t) {
      max-width: 180px;
      max-height: 180px;
    }

    @media screen and (min-width: $screen-tl) {
      max-width: 240px;
      max-height: 240px;
    }
  }

  &__info {
    display: grid;
    grid-template-rows: auto;
    gap: 12px;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 0;

    @media screen and (min-width: $screen-ti) {
      grid-auto-flow: column;
      justify-content: space-between;
      padding: 0 8px;
    }
  }

  &__name {
    @include card-title;

    margin: 0;
    overflow: hidden;
    color: var(--white);
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;

    @media screen and (min-width: $screen-tl) {
      text-align: left;
    }
  }

  &__type {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: $screen-tl) {
      gap: 12px;
      width: fit-content;
      padding: 4px 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    line-height: 0;

    @media screen and (min-width: $screen-tl) {
      width: 24px;
      height: 24px;
    }
  }

  &__statistics {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-top: 8px;
    padding: 0;

    @media screen and (min-width: $screen-tl) {
      gap: 8px;
      margin: 8px 0 0;
      padding: 0 8px;
    }
  }

  &__container-icon {
    @include flex-center;

    width: 100%;
    padding: 7px 12px;
    border-bottom: 1px solid var(--grey-200);
    transition: border 0.3s ease-out;

    @media screen and (min-width: $screen-ti) {
      display: block;
      width: fit-content;
      border-right: 1px solid var(--grey-200);
      border-bottom: 0;
    }

    #{$block-name}:hover & {
      border-bottom: 1px solid var(--grey);

      @media screen and (min-width: $screen-ti) {
        border-right: 1px solid var(--grey);
        border-bottom: 0;
      }
    }
  }

  &__statistics-info {
    @include flex-center;

    flex-wrap: wrap;
    border: 1px solid var(--grey-200);
    border-radius: 8px;
    transition: border 0.3s ease-out;

    @media screen and (min-width: $screen-ti) {
      flex-wrap: nowrap;
    }

    #{$block-name}:hover & {
      border: 1px solid var(--grey);
    }
  }

  &__statistics-number {
    @include card-data;

    width: 100%;
    margin: 0;
    padding: 8px 0;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;

    @media screen and (min-width: $screen-tl) {
      padding: 0;
    }
  }

  @keyframes card-visible {
    100% { opacity: 1; }
  }
}
