//- Все примеси в этом файле должны начинаться c имени блока (tabs)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin tabs(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +tabs('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tabs--' + modsList[i].trim();
      }
    }

  .tabs(class=allMods)&attributes(attributes)
    .tabs__inner
      .tabs__button.button.button--active Pockemons
      .tabs__button.button.button--default Accesorries
