@import "../../scss/mixins/flexbox";
@import "../../scss/variables";
@import "../../scss/breakpoints";

.tabs {
  $block-name: &; // #{$block-name}__element

  @include flex-column;

  gap: 12px;

  @media screen and (min-width: $screen-tl) {
    gap: 25px;
  }

  @media screen and (min-width: $screen-d) {
    gap: 32px;
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: var(--z-index-tabs);

    @media screen and (min-width: $screen-tl) {
      position: static;
    }
  }

  &__content {
    @include flex-column;

    gap: 16px;

    @media screen and (min-width: $screen-tl) {
      gap: 48px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 8px;
    width: 100%;
  }
}
