extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  .page
    .container
      .page__tabs
        +tabs
      .page__content
        .page__tab(id='tab1')
          +sidebar
          +container-cards
        .page__tab(id='tab2')
          //+container-fight
      .page__paginator
        +paginator
