extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  .content
    .content__section(id='tab1')
      .content__inner
        +sidebar
        +container-cards
      .content__inner
        +btn-burger
        +paginator
    .content__section(id='tab2')
      //+container-fight
