extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  .page
    .page__tabs
      +tabs
    .page__content
      .container
        +filter
        +container-cards
    .page__paginator
      +paginator
