extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Стартовая страница'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

block content

  -
    let tabs = ['Pockemons', 'Fight']
    let perPage = ['12', '24', '48']
    let pokemonInfo = [
      {
        name: 'Bulbasaur',
        photo: 'img/container-cards__photo-01.png',
        number: '001',
        type: ['icon__poison', 'icon__grass'],
        health: '45',
        speed: '45',
        attack: '49 / 65',
        defence: '49 / 65'
      },
      {
        name: 'Ivysaur',
        photo: 'img/container-cards__photo-02.png',
        number: '002',
        type: ['icon__poison', 'icon__grass'],
        health: '60',
        speed: '60',
        attack: '62 / 80',
        defence: '63 / 80'
      },
      {
        name: 'Venusaur',
        photo: 'img/container-cards__photo-03.png',
        number: '003',
        type: ['icon__poison', 'icon__grass'],
        health: '80',
        speed: '80',
        attack: '82 / 100',
        defence: '83 / 100'
      },
      {
        name: 'Charmander',
        photo: 'img/container-cards__photo-04.png',
        number: '004',
        type: ['icon__fire'],
        health: '39',
        speed: '65',
        attack: '52 / 60',
        defence: '43 / 50'
      },
      {
        name: 'Charmeleon',
        photo: 'img/container-cards__photo-05.png',
        number: '005',
        type: ['icon__fire'],
        health: '58',
        speed: '80',
        attack: '64 / 80',
        defence: '58 / 65'
      },
      {
        name: 'Charizard',
        photo: 'img/container-cards__photo-06.png',
        number: '006',
        type: ['icon__fire'],
        health: '78',
        speed: '100',
        attack: '64 / 109',
        defence: '78 / 85'
      }
    ]


  .container
    .tabs
      .tabs__header
        section.tab
          each tab, index in tabs
            .tab__button.button(id= index, class= (index === 0 ? "button--active" : ''))= tab
      .tabs__main
        .tabs__content(id='tab1')
          .tabs__inner
            section.sidebar
              .sidebar__inner
                section.per-page
                  h3.per-page__left Per page:
                  .per-page__right
                    each page in perPage
                      .per-page__item.button(class= (index === 0 ? "button--active" : ''))= page
                +filter
            section.container-cards(class=allMods)&attributes(attributes)
              +loader
              .container-cards__inner
                each pokemon in pokemonInfo
                  +card(pokemon)
          .tabs__inner
            .btn-burger
              +icon('icon__filter', 'btn-burger__burger-icon')
            +paginator
        .tabs__content(id='tab2')
          +container-fight
