@import "../../scss/variables";
@import "../../scss/breakpoints";

.container-cards {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: var(--z-index-container-card);
  grid-column: 1/span 12;
  grid-template-columns: repeat(12, 1fr);
  padding: 8px;
  background: var(--black-200);
  border-radius: 24px;

  @media screen and (min-width: $screen-tl) {
    grid-column: 4/span 9;
    grid-template-columns: repeat(4, 1fr);
  }

  &__inner {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 8px;
    justify-content: space-between;
    width: 100%;

    @media screen and (min-width: $screen-m) {
      grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    }

    @media screen and (min-width: $screen-ti) {
      grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    }

    @media screen and (min-width: $screen-tl) {
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    }

    @media screen and (min-width: $screen-d) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
