@import "../../scss/variables";

.container-cards {
  $block-name: &; // #{$block-name}__element

  grid-column: 4/span 9;
  grid-template-columns: repeat(4, 1fr);
  padding: 8px;
  background: var(--black-200);
  border-radius: 24px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    width: calc(100% / 3 - 10px);
  }
}
