//- Все примеси в этом файле должны начинаться c имени блока (container-cards)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin container-cards(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +container-cards('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' container-cards--' + modsList[i].trim();
      }
    }

  .container-cards(class=allMods)&attributes(attributes)
    .container-cards__inner
      .card.container-cards__item
        .card__number 001
        .card__container-photo
          img.card__photo(src='img/container-cards__photo-01.png', alt='')
        .card__info
          p.card__name Bulbasaur
          .card__type
            svg.card__icon
              use(xlink:href = 'img/svgSprite.svg#icon__poison')
            svg.card__icon
              use(xlink:href = 'img/svgSprite.svg#icon__grass')
        .card__statistics
          .card__statistics-info
            .card__container-icon
              svg.card__icon.card__info-icon
                use(xlink:href = 'img/svgSprite.svg#icon__health')
            p.card__statistics-number 45
          .card__statistics-info
            .card__container-icon
              svg.card__icon.card__info-icon
                use(xlink:href = 'img/svgSprite.svg#icon__speed')
            p.card__statistics-number 45
          .card__statistics-info
            .card__container-icon
              svg.card__icon.card__info-icon
                use(xlink:href = 'img/svgSprite.svg#icon__attack')
            p.card__statistics-number 49 / 65
          .card__statistics-info
            .card__container-icon
              svg.card__icon.card__info-icon
                use(xlink:href = 'img/svgSprite.svg#icon__defence')
            p.card__statistics-number 49 / 65
