@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins/fluid";

.paginator {
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  background: var(--black-200);
  border-radius: 16px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

    @media screen and (min-width: $screen-d) {
      flex-wrap: nowrap;
      margin: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    padding: 0 4px;
    color: var(--white);
    font-size: fluid(12, 16, 320, 1728);
    line-height: fluid(16, 24, 320, 1728);
    text-decoration: none;
    border: 1px solid transparent;
    border-top: 1px solid var(--grey-200);
    border-radius: 8px;

    @media screen and (min-width: $screen-d) {
      min-width: 40px;
      height: 40px;
    }

    &:first-child {
      order: 1;
      width: calc(50% - 5px);

      @media screen and (min-width: $screen-d) {
        order: 0;
      }
    }

    &:last-child {
      order: 1;
      width: calc(50% - 5px);
    }

    &:hover {
      background: var(--grey-300);
      border: 1px solid var(--color-blue-300);
    }

    &--active {
      background: var(--grey-200);
      border-top: 1px solid var(--grey);
    }
  }
  $block-name: &; // #{$block-name}__element
}
