//- Все примеси в этом файле должны начинаться c имени блока (paginator)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin paginator(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +paginator('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' paginator--' + modsList[i].trim();
      }
    }

  .paginator(class=allMods)&attributes(attributes)
    .paginator__inner
      .paginator__btn first
      .paginator__btn.paginator__btn--active 1
      .paginator__btn 2
      .paginator__btn 3
      .paginator__btn 4
      .paginator__btn 5
      .paginator__btn.paginator__btn--text ...
      .paginator__btn last
