@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins/text-styles";

.paginator {
  $block-name: &; // #{$block-name}__element

  grid-column: 1/span 12;
  grid-template-columns: repeat(12, 1fr);
  width: fit-content;
  margin: 0 auto;
  padding: 8px;
  background: var(--black-200);
  border-radius: 16px;

  @media screen and (min-width: $screen-tl) {
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

    @media screen and (min-width: $screen-t) {
      flex-wrap: nowrap;
      margin: 0;
    }
  }

  &__btn {
    @include pagination;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    height: 32px;
    padding: 0 4px;
    color: var(--white);
    text-decoration: none;
    background: var(--black-100);
    border: 1px solid transparent;
    border-top: 1px solid var(--grey-200);
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.3s ease-out;

    @media screen and (min-width: $screen-tl) {
      min-width: 40px;
      height: 40px;
    }

    &:hover {
      background: var(--grey-300);
      border: 1px solid var(--color-blue-300);
    }

    &--text {
      background: none;
      border: none;
      pointer-events: none;
    }

    &--active {
      background: var(--grey-200);
      border: none;
      border-top: 1px solid var(--grey);
      pointer-events: none;
    }

    &:first-child,
    &:last-child {
      order: 1;
      width: calc(50% - 5px);

      @media screen and (min-width: $screen-t) {
        padding: 0 16px;
      }
    }

    &:first-child {
      @media screen and (min-width: $screen-t) {
        order: 0;
      }
    }
  }
}
