//- Все примеси в этом файле должны начинаться c имени блока (paginator)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin paginator(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +paginator('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' paginator--' + modsList[i].trim();
      }
    }

  .paginator(class=allMods)&attributes(attributes)
    .paginator__inner
      a.paginator__btn.button.button--default-paginator(href='#') first
      a.paginator__btn.button.paginator__btn--active(href='#') 1
      a.paginator__btn.button.button--default-paginator(href='#') 2
      a.paginator__btn.button.button--default-paginator(href='#') 3
      a.paginator__btn.button.button--default-paginator(href='#') 4
      a.paginator__btn.button.button--default-paginator(href='#') 5
      a.paginator__btn.button.button--default-paginator(href='#') ...
      a.paginator__btn.button.button--default-paginator(href='#') last
