@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins/fluid";

.per-page {
  $block-name: &; // #{$block-name}__element

  position: relative;
  z-index: 100;
  width: 100%;
  padding: 8px 8px 8px 16px;
  background: var(--black-200);
  border-radius: 16px;

  @media screen and (min-width: $screen-tl) {
    width: calc(100% - 8px);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__left {
    margin: 0;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.42px;
  }

  &__right {
    display: flex;
    gap: 8px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--white);
    font-size: fluid(12, 16, 320, 1728);
    line-height: fluid(16, 24, 320, 1728);
    border-radius: 8px;
  }
}
