@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox";

.per-page {
  $block-name: &; // #{$block-name}__element

  @include flex-center-sb;

  position: relative;
  z-index: 100;
  width: 100%;
  padding: 8px 8px 8px 16px;
  background: var(--black-200);
  border-radius: 16px;

  &__left {
    margin: 0;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.42px;
    white-space: nowrap;
  }

  &__right {
    display: flex;
    gap: 8px;
  }

  &__item {
    @include pagination;
    @include flex-center;

    width: 32px;
    height: 32px;
    color: var(--white);
    border-radius: 8px;

    @media screen and (min-width: $screen-d) {
      width: 40px;
      height: 40px;
    }
  }
}
