@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/skeleton";

.per-page {
  @include flex-center-sb;

  position: relative;
  z-index: 100;
  width: 100%;
  padding: 8px 8px 8px 16px;
  background: var(--black-200);
  border-radius: 16px;

  &__skeleton {
    &--active {
      position: relative;
      pointer-events: none;

      &::before {
        @include background-gradient(var(--grey-200), var(--skeleton-color));

        position: absolute;
        top: 8px;
        left: 8px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        border-radius: 8px;
        animation: skeleton 2s infinite linear;
        content: "";
      }
    }
  }

  &__left {
    margin: 0;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.42px;
    white-space: nowrap;
  }

  &__right {
    display: flex;
    gap: 8px;
  }

  &__item {
    @include pagination;
    @include flex-center;

    min-width: 32px;
    min-height: 32px;
    padding: 0 4px;
    color: var(--white);
    border-radius: 8px;

    @media screen and (min-width: $screen-d) {
      min-width: 40px;
      min-height: 40px;
    }
  }
  $block-name: &; // #{$block-name}__element
}
