@use "sass:color";

:root {
  --color-black: #000;
  --color-white: #fff;
  --body-color: #e8e9e9;
  --body-bg: #131619;


  --white: #e8e9e9;
  --white-200: #cdcecf;
  --white-300: #9b9c9e;
  --grey: #686b6e;
  --grey-200: #363a3d;
  --grey-300: #1a1d21;
  --black-100: #131619;
  --black-200: #0d0f10;
  --black: #060708;
  --color-red: #eb5757;
  --color-orange: #f2994a;
  --color-yellow: #f2c94c;
  --color-green-100: #6fcf97;
  --color-green-200: #27ae60;
  --color-green-300: #219653;
  --color-blue-100: #56ccf2;
  --color-blue-200: #2d9cdb;
  --color-blue-300: #2f80ed;
  --color-violet-100: #bb6bd9;
  --color-violet-200: #9b51e0;
  --color-violet-300: #9747ff;
  --black-blur: rgba(19, 22, 25, 0.7);

  --z-index-container-card: 9;
  --z-index-tabs: 10;
  --z-index-overlay: 11;
  --z-index-filter: 12;
  --z-index-sidebar: 13;
  --z-index-burger-button: 14;
  --z-index-search-panel: 10;

  --shadow-button: 0 4px 16px 0 rgba(0 0 0 / 0.1);


  --font-base: var(--font-sans);
  --font-sans: MochiyPopOne, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", Times, serif;
  --font-size-root: 100%;
  --font-size-base: 1rem;
  --font-weight-base: 400;
  --line-height-base: 1.25;
}

