@import "../../scss/variables";
@import "../../scss/breakpoints";
@import "../../scss/mixins/text-styles";
@import "../../scss/mixins/skeleton";

.tab {
  $block-name: &; // #{$block-name}__element

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 8px;
  width: 100%;
  padding: 8px;
  background: var(--black-200);
  border-radius: 16px;

  @media screen and (min-width: $screen-tl) {
    position: static;
    border-radius: 24px;
  }

  &__skeleton {
    &--active {
      pointer-events: none;

      #{$block-name}__button {
        position: relative;

        &::before {
          @include background-gradient(var(--grey-200), var(--skeleton-color));

          position: absolute;
          top: -1px;
          left: 0;
          width: 100%;
          height: calc(100% + 1px);
          border-radius: 8px;
          animation: skeleton 2s infinite linear;
          content: "";
        }
      }
    }
  }

  &__button {
    @include tab;

    width: 100%;
    padding: 7px 16px 8px;
    text-align: center;
    border-radius: 8px;

    @media screen and (min-width: $screen-tl) {
      padding: 15px 16px 16px;
      border-radius: 16px;
    }
  }
}
