//- Все примеси в этом файле должны начинаться c имени блока (btn-burger)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin btn-burger(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +btn-burger('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' btn-burger--' + modsList[i].trim();
      }
    }

  .btn-burger(class=allMods)&attributes(attributes)
    .btn-burger__burger-btn
      svg.btn-burger__burger-icon
        use(xlink:href = 'img/svgSprite.svg#icon__filter')
